.Widget {
  width: 450px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(226, 226, 226);
  border: 1px solid lightgray;
  border-radius: 7px;
  box-shadow: 0 2px 8px gray;
  box-sizing: border-box;
}

.Widglet {
  width: 250px;
  padding: 5px;
  margin: 10px;
  background-color: rgb(226, 226, 226);
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 2px 5px gray;
  box-sizing: border-box;
  cursor: pointer;
}

.WidgetSave {
  margin-top:5px;
}

.Widglet:hover {
  box-shadow: 0 0 8px rgb(21, 180, 29);
  /* background-color: rgba(169, 169, 169, 0.75); */
  transition:.5s;
}
