.Widgets {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.Details {
  margin: 20px;
}

.NavButton {
  cursor: pointer;
}

.btn {
  
  background: linear-gradient(rgb(104, 153, 30),rgb(136, 167, 89), rgb(104, 153, 30));
  border: none; /* Remove borders */
  border-radius: 4px;
  color: white; /* White text */
  padding: 8px 10px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background: linear-gradient(rgb(157, 231, 44),rgb(150, 194, 84), rgb(157, 231, 44));
  
  transition: .3s;
}