.App {
  text-align: center;
}

.App-logo {
  height: 34px;
  background: white;
  margin-right: 20px;
  margin-bottom: 1px;
  margin-top: 1px;
  padding: 3px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-content {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-size: small;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.NavBar {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background: linear-gradient(rgb(104, 153, 30),rgb(136, 167, 89), rgb(104, 153, 30));
  overflow: hidden;
};

.NavItem {
  width: 100%;
}

.NavItem a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 12px 10px 8px 10px;
  box-sizing: border-box;
  color: white;
  background: linear-gradient(rgb(104, 153, 30),rgb(136, 167, 89), rgb(104, 153, 30));
  border-bottom: 4px solid transparent;
}

.NavItem a:hover {
  background: linear-gradient(rgb(157, 231, 44),rgb(150, 194, 84), rgb(157, 231, 44));
  /* background-color: rgba(169, 169, 169, 0.75); */
  transition:.5s;
}


.NavItem a.Selected {
  border-bottom: 4px rgb(216, 219, 217) solid;
  transition:.3s;
}